<div class="login-box">
    <img class="avatar" src="assets/img/Llinmex-Logo.jpg" alt="Logo de Linmex"> 
    <div class="texto-blanco-center"><h3>Próximo pago antes de DD-MM-AAAA</h3></div>
    <div class="texto-blanco-center"><h2>$0000.00 MXN</h2></div>

    <div class="texto-blanco-center"><h5>Detalles</h5></div>

    <div class=" col-12">
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col" class="texto-blanco">Asunto</th>
                <th scope="col" class="texto-blanco">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="texto-blanco">Pago 1</th>
                <td class="texto-blanco">$$</td>
              </tr>
              <tr>
                <th scope="row" class="texto-blanco">Pago 2</th>
                <td class="texto-blanco">$$</td>
              </tr>
              <tr>
                <th scope="row" class="texto-blanco">Descuento</th>
                <td class="texto-blanco">-$$</td>
              </tr>
              <tr>
                <th scope="row" class="texto-blanco">Total</th>
                <td class="texto-blanco">$$</td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center"><button type="button" class="btn btn-primary">Pagar</button></div>

</div>