<div class='container main clearfix animated bounceInLeft'>
  <div class='window'>
    <div class='order-info'>
      <div class='order-info-content'>
        <h2>Lista de Servicios</h2>
                <div class='line'></div>
        <table class='order-table'>
          <tbody>
            <tr>
              <td>
              </td>
              <td>
                <br> <span class='thin'>Paquete: {{paquetNme}}</span>
                <br> {{paqueteDesc}}<br> <span class='thin small'><br><br></span>
              </td>

            </tr>
            <tr>
              <td>
                <div class='price'>${{monto}} MXN</div>
              </td>
            </tr>
          </tbody>

        </table>
        <div class='line'></div>
        <div class='total'>
          <span style='float:left;'>
            <div class='thin dense'>IVA 16%</div>
            <div class='thin dense'>Descuento</div>
            TOTAL
          </span>
          <span style='float:right; text-align:right;'>
            <div class='thin dense'>${{iva}}</div>
            <div class='thin dense'>${{discount}}</div>
            ${{monto}} MXN
          </span>
        </div>
</div>
</div>
        <div class='credit-info'>
          <div class='credit-info-content'>
            
            <img [src]="imgSrc" height='80' class='credit-card-image' id='credit-card-image'/>
            Numero de Tarjeta
            <input class='input-field' [(ngModel)]="numeroTarjeta" (input)="chan()" [maxlength]="19"/>
            Nombre del Titular
            <input class='input-field' [(ngModel)]="nombre"/>
            <table class='half-input-table'>
              <tr>
                <td> Fecha de Expiracion
                  <input class='input-field' type="month" placeholder="mm/yyyy" [(ngModel)]="expiracion"/>
                </td>
                <td>CVV
                  <input class='input-field' [(ngModel)]="cvv" [maxlength]="4" [minlength]="3"/>
                </td>
              </tr>
            </table>
            <button class='pay-btn' (click)="pagar()" [disabled]="pagarbool">Pagar</button>

          </div>

        </div>
      </div>
    </div>
    