<div class="login-box">
    <img class="avatar" src="assets/img/Llinmex-Logo.jpg" alt="Logo de Linmex"> 
    <div class="texto-blanco-center"><h3>Tu historial de pagos realizados</h3></div>
    <br>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <th scope="col" class="texto-blanco">Fecha</th>
                    <th scope="col" class="texto-blanco">Plan</th>
                    <th scope="col" class="texto-blanco">Monto</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="texto-blanco">DD-MM-AAAA</td>
                        <td class="texto-blanco">PLAN A</td>
                        <td class="texto-blanco">$$$$</td>
                    </tr>
                    <tr>
                        <td class="texto-blanco">DD-MM-AAAA</td>
                        <td class="texto-blanco">PLAN B</td>
                        <td class="texto-blanco">$$$$</td>
                    </tr>
                    <tr>
                        <td class="texto-blanco">DD-MM-AAAA</td>
                        <td class="texto-blanco">PLAN C</td>
                        <td class="texto-blanco">$$$$</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
