<div class="container2 main clearfix animated bounceInLeft">
    <table>
        <thead>
            <tr>
                <th>Nombre del Plan</th>
                <th>Titular</th>
                <th>Costo</th>
                <th>Inclusiones</th>
                <th>Estado</th>
                    
                
            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td>{{planNombre}}</td>
                <td>{{titular}}</td>
                <td>${{planCosto}}MXN</td>
                <td>{{planDetalles}}</td>
        <td>ACTIVO</td>
            </tr>
            
            
        </tbody>
    </table>
    </div>
