<div class="container2 main clearfix animated bounceInLeft">
    <table>
        <thead>
            <tr>
                <th>Nombre del Plan</th>
                <th>Titular</th>
                <th>Costo</th>
                <th>Inclusiones</th>
                <th>Estado</th>
                    
                
            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td>LIN100</td>
                <td>VERONICA CHAVEZ TORRES</td>
                <td>$550.00MXN</td>
                <td>NETLFLIX(2 PERFILES)
                VIX (2 PERFILES)
            TELEFONIA 
        100GB INTERNET</td>
        <td>ACTIVO</td>
            </tr>
            <tr>
                <td>LIN100</td>
                <td>MICHELLE TORRES GARCIA</td>
                <td>$400.00MXN</td>
                <td>NETLFLIX(1 PERFILES)
                VIX (1 PERFILES)
            TELEFONIA 
        50GB INTERNET</td>
        <td>ACTIVO</td>
            </tr>
            <tr>
                <td>LIN100</td>
                <td>DAMIAN ALVAREZ MENDOZA</td>
                <td>$600.00MXN</td>
                <td>NETLFLIX(4 PERFILES)
                VIX (3 PERFILES)
            TELEFONIA 
        100GB INTERNET</td>
        <td>ACTIVO</td>
            </tr>
            
        </tbody>
    </table>
    </div>
